body {
  margin:0 !important;
  padding:0 !important;
  background-image: url("./pattern.jpg");
}
header {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}
ul {
list-style-type: none;
overflow: hidden;
background-color: #fff;
}

li {
float: right;
}

li a {
display: block;
text-align: center;
padding: 14px 16px;
}
.container {
background-color: #fff;
padding:10px;
margin: 10px 150px auto;
}

footer {
margin-top:10px;
margin-bottom:30px;
background-color:black;
color:white;
text-align:center;
padding:5px;
}